{% load static %}
 
 <!-- Bootstrap Spinner -->
 {% include 'includes/spinner.html' %}

 <header class="header">
   <nav class="nav">
     <a href="{% url 'home' %}" class="nav_logo" style="margin-left: 5px;">BOCISearch</a>
     <div class="dropdown">
       <button class="dropdown-btn" onclick="toggleDropdown()">
         <i class="fa-solid fa-bars"></i>
         <!-- <span class="material-symbols-outlined expand-icon"> expand_more </span> -->
       </button>
 
       <div class="dropdown-content" id="myDropdown">
         <a href="{% url 'profile_page' %}" data-i18n="profile">
           <!-- <span class="material-symbols-outlined"> cottage </span> -->
           <i  class="fa-solid fa-user"></i> Profile
         </a>
         <a href="{% url 'search_page'%}">
            <!-- <span class="material-symbols-outlined">category</span> -->
            <i  data-i18n="SearchPage" class="fa-solid fa-clock-rotate-left"></i> Search
          </a>
         
         <a onclick="logout()" data-i18n="logout">
           <!-- <span class="material-symbols-outlined">donut_large</span> -->
           <i   class="fa-solid fa-right-from-bracket"></i> Logout
         </a>    
         </div>
 
       </div>
     </div>
   
   </nav>
    </header>
